
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200&display=swap');
*{
    margin: 0px;
    background-color:#EBEDEF ;
}
:root{
    --primary-color: #231E39;
    --second-color: #A4A2A2;
    --white:#FFFFFF;
    --black:#000000;
    --bg:#DDDDDD;
}
body{
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
}
.left-container, .rigth-container{
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.photo-profile{
    border: none;
    border-radius: 50%;
    width: 100px;
}