/* This is part for title and general container */
.container{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.our-reviews-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-reviews-title h1{
    font-size: var(--title-sz);
    font-weight: var(--title-wt);
}
.line-primary{
    width: 80px;
    border-top: 4px solid var(--primary-color);
    margin-top: 8px;
}

/* This is container of information and carrousel */

.container-general{
    width: 40%;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 44px;
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
}
.container-comillas{
    position: absolute;
}
.comillas{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: -60px;
}
.img-profile img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.info-employee{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-employee h1{
    font-family: sans-serif !important;
    line-height: 1.25;
    letter-spacing: 0.25rem;
    font-size: 18px;
    font-weight: 400;
}
.info-employee span{
    font-size: 18px;
    font-weight: 200;
    color: var(--primary-color);
}
.info-employee p{
    font-size: 14px;
    font-weight: 200;
    margin-top: 8px;
    color: var(--default-grey)
}
.arrow-slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    cursor: pointer;
}
.arrow-slide figure img{
    width: 30px;
    height: 30px;
}
.arrow-slide figure img:hover{
    fill: black;
    transition: 3000ms;
}
.surprise-me-button{
    margin: 8px 0px;
    width: 120px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    cursor: pointer;
}
.surprise-me-button:hover{
    transition: 1000ms;
    background-color: white;
    color: var(--primary-color);
}

    @media (max-width:700px) {
        .container-general{
            width: 80%;
        }
    }

