footer{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer div{
    width: 400px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
}
.moving-element {
    position: relative;
    animation:moveRightLeft 0.8s infinite;
  }
  
  @keyframes moveRightLeft {
    0% {
      transform:translateX(0);
    }
    50% {
      transform:translateX(20px);
    }
    100% {
      transform:translateX(0); 
    }
  }
button {
    border: none;
    background: none;
}
.Button-add{
    color: #5ce1e6;
    cursor: pointer;

    transform: rotate(0);
    transition: .1s ease;
}
.Button-add:hover{
    transform: rotate(20deg);
}

.Inactive{
    display: none;
}
